@tailwind base;
@tailwind components;
@tailwind utilities;
/* 


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-end-rgb: 0, 0, 0;
    --background-end-rgb: 255, 255, 204;
    --background-start-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .project-style {
    @apply flex items-center justify-center w-full flex-col space-y-6 md:flex-col md:space-x-6 px-8 lg:flex-row
  }
  .hover-transition {
    @apply hover:scale-125 border-2 hover:border-white rounded-lg transition duration-300 h-auto md:w-[calc(100%)] lg:w-[calc(100%/3)]  w-full
  }
}

